body {
    background: white;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.10em;
    text-align: center;
  }
  
  .container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
  }
  
  h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    color: black;
    margin: 0px;
  }
  
  p {
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.5em;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
  }
  
  div {
    width: 840px;
    margin: 0 auto;
  }
  
  .button {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  
  .button:hover {
    text-decoration: none;
  }
  
  .effect {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid 2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect::before,
  .effect span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
  }
  
  .effect:hover {
    background-color: #000;
  }
  
  .effect:hover span {
    -webkit-transform: translateY(-400%) scale(-0.1, 20);
    transform: translateY(-400%) scale(-0.1, 20);
  }
  
  .effect::before {
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1, 20);
    transform: translateY(500%) scale(-0.1, 20);
  }
  
  .effect:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
  }
  